<div class="row">
  <div class="col-md-10">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-transparent">
      <div class="panel-heading" role="tab" id="headingOne">
        <h4 class="panel-title">
          <a role="button" data-toggle="collapse"    data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          All PegUps (<em><%= @all_meetups.count %></em>)
          </a>
        </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body">
          <% @all_meetups.each do |meetup| %>
            <div class="well">
              <h4><strong><%= link_to meetup.user.username, profile_path(meetup.user) %></strong></h4>
              <em><%= meetup.datetime.strftime("%b %-d, %Y") %></em><br />
              <p><%= meetup.description %></p>
              <br />
              <%= link_to 'details', meetup, class:"btn btn-default" %>
              <br />
              <p><strong><%= meetup.partners.count + 1 %> attending</strong></p>
              <% if user_signed_in? && meetup.user_id != current_user.id%>
                <% if current_user.partner?(meetup) %>
                  <%= link_to "Un-Join this PegUp", meetup_partner_path(meetup), method: :delete, class:"btn btn-default" %>
                <% else %>
                  <%= link_to "Join this PegUp", meetup_partner_path(meetup), method: :post, class:"btn btn-default" %>
                <% end %>
              <% end %>
            </div>
            <% end %>
        </div>
      </div>
    </div>
  <% if user_signed_in? && current_user.id == @user.id %>
    <div class="panel panel-transparent">
      <div class="panel-heading" role="tab" id="headingTwo">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          My PegUps
          </a>
        </h4>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
        <div class="panel-body">
          <%= link_to 'Create New PegUp', new_meetup_path, class:"btn btn-default" %>
          <br />
          <br />
          <% unless @my_meetups == nil %>
            <% @my_meetups.each do |meetup| %>
              <div class="well">
                <em><%= meetup.datetime.strftime("%b %-d, %Y")  %></em><br>
                <%= meetup.description %><br />
                <%= link_to 'details', meetup, class:"btn btn-default" %>
                <br />
                <strong>Attending:</strong>
                <% meetup.partners.each do |partner| %>
                <br />
                  <%= link_to partner.user.username, profile_path(partner.user) %>
                <% end %>
                <br />
                <%= meetup.comments.count %> comments
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
    </div>
  </div>
</div>
