<div class="row">
  <div class="col-md-10">
   <div class="panel panel-transparent">
    <div class="panel-body">
      <h2>Meetup</h2>
      <h4><%= link_to @meetup.user.username, profile_path(@meetup.user) %></h4>
      <%= @meetup.datetime %><br />
      <%= @meetup.description %>
      <p><%= @meetup.partners.count + 1 %> attending</p>
      <% if user_signed_in? && @meetup.user_id != current_user.id%>
        <% if current_user.partner?(@meetup) %>
          <%= link_to "Un-Join this PegUp", meetup_partner_path(@meetup), method: :delete, class:"btn btn-default" %>
        <% else %>
          <%= link_to "Join this PegUp", meetup_partner_path(@meetup), method: :post, class:"btn btn-default" %>
        <% end %>
      <% end %>

    </div>
  </div>
  <div class="panel panel-transparent">
    <div class="panel-body">
      <% @meetup.comments.each do |comment| %>
      <div class="well">
        <p><%= comment.body %></p>
        by: <em><%= link_to comment.user.username, profile_path(comment.user) %></em>
        <% if current_user.id == comment.user.id %>
            <%= link_to 'Edit', edit_meetup_comment_path(@meetup, comment), class:"btn btn-primary" %>
         <% end %>
      </div>
      <% end %>
      <% if current_user.partner?(@meetup) %>
        <div class="well">
          <h4>Care to comment?</h4>
          <%= render 'comments/form' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
</div>
