
<%= form_for(@handicap) do |f| %>

  <% if @handicap.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@handicap.errors.count, "error") %> prohibited this handicap from being saved:</h2>

      <ul>
        <% @handicap.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-md-3">

        <h2 align="center">New Score Card</h2>
        <div class="form-group">
          <%= f.label "Score" %><br>
          <%= f.number_field :score, class:"form-control" %>
        </div>
        <div class="form-group">
          <%= f.label "Course Ratiing" %><br>
          <%= f.number_field :course_rating, class:"form-control" %>
        </div>
        <div class="form-group">
          <%= f.label "Slope Rating" %><br>
          <%= f.number_field :course_slope_rating, class:"form-control" %>
        </div>
        <div class="cant-see-me">
          <%= f.number_field :user_id, value: current_user.id %>
        </div>
        <div class="action-group">
          <%= f.submit "Score It", class:"btn btn-default"%>
        </div>
      </div>
<% end %>
